<div class="spinner" *ngIf="loading">
    <div class="dot1"></div>
    <div class="dot2"></div>
</div>
<div *ngIf="!loading" class="details">
    <div class="card">
        <a title="Add to my Pokemon" class="add_link" (click)="addToMyPokemon(pokemon.name, pokemon.sprites.front_default, this.pokemon.types)">
            <button id="add" class="add-button">+</button>
        </a>
        <img [src]="pokemon?.sprites?.front_default">
        <h1>{{pokemon?.name}}</h1>
    </div>    
    <div class="type">
        <ul>
            <li *ngFor="let type of pokemon?.types" ngClass="{{type.type.name}}">{{type.type.name}}</li>
        </ul>
    </div>
    <div class="stats">
        <span>Base Experience: </span>
        <p id="base-exp">{{pokemon.base_experience}}</p>
        <span>Height: </span>
        <p id="height">{{pokemon.height}} ft.</p>
        <span>Weight: </span>
        <p id="weight">{{pokemon.weight}} lbs.</p>
    </div>
    <div class="moves">
        <h3>Moves:</h3>
        <ul>
            <li *ngFor="let move of pokemon.moves">{{move.move.name}}</li>
        </ul>
    </div>
    <button class="expand" (click)="onExpandMoves()">&#9660;</button>

</div>