<header>
  <img src="../assets/img/Pokeball.png">
  <h1 routerLink="/">Pokédex</h1>
</header>
<div class="buttons">
  <a *ngIf="router.url == '/' || router.url =='/pokedex/my-pokemon'" routerLink="/pokedex/list"><button class="button-navigate button-list" [ngClass]="{'move-up': router.url =='/pokedex/my-pokemon'}" >Browse Pokemon</button></a>
  <a  *ngIf="router.url == '/' || router.url =='/pokedex/list'" routerLink="/pokedex/my-pokemon"><button  class="button-navigate button-my" >Go to My Pokemon</button></a>
</div>
<router-outlet></router-outlet>

